
$red: #E81B23;
$blue: #68BBB8;
$orange: #F5855B;
$yellow: #FFD95C;
$pink: #FF91BB;

$grey: #4a4a4a; //for text on white backgrounds

$white: white; //for text on red background, for site background

//Page Text Styles

$mainFont: 'century-gothic', sans-serif;


//Other Variables

