$red: #e81b23; // use for emphasis elements

$darkBlue: #4ac6d7; // use for emphasis elements

$lightBlue: #68bbb8; // for use on NAV backgrounds, header menu, assorted headings (h3)

$orange: #f5855b; // only for use on site background

$yellow: #ffd95c; // only for use on text emphasis elements 

$pink: #ff91bb; // use for assorted headers and emphasis

$white: white; // for text on coloured backgrounds 

$grey: #fafafa; // for text

$black: black;

$darkGrey: #6B6B6B;

$mainFont: 'century-gothic', sans-serif; // use for all site text

//Other Variables

