/* Error: expected selector.
 *    ,
 * 27 | <<<<<<< HEAD
 *    | ^
 *    '
 *   sass\modules\_dashboard.scss 27:1  @import
 *   sass\main.scss 8:9                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected selector.\a    \2577 \a 27 \2502  <<<<<<< HEAD\d\a    \2502  ^\a    \2575 \a   sass\\modules\\_dashboard.scss 27:1  @import\a   sass\\main.scss 8:9                 root stylesheet";
}
