#aboutCon {
    background: $mainWhite;
    color: $mainRed;
    justify-content: center;
    padding:10px;
}

#aboutDescCon{
    max-width:90%;
    margin:0 auto;
}

.redTitle {
    text-align: center;
}

.aboutText{
    color: $mainGrey;
}

.aboutList{
    font-size:14px;
    line-height:30px;
    color: $mainGrey;
}

.contactCon{
    background: $mainRed;
    margin:0 auto;
    padding:10px;
}

.whiteTitle{
    color: $mainWhite;
    text-align: center;
}

#contactText{
    color: $mainWhite;
    line-height:20px;
}

#socialCon{
    color: $mainWhite;
    justify-content:space-between;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 10px;

}

.socialIcon{
    color: $mainWhite;
}

