 @mixin for-tablet-portrait-up {
    @media (min-width: 800px) { @content; }
  }
  @mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  }
  @mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
  }
  @mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }

#aboutCon{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    max-width:95%;
    margin: 0 auto;

    margin-top:40px;

    @include for-tablet-portrait-up {
        max-width: 80%;
    }

    @include for-desktop-up{
        max-width: 40%;
    }
}


#hivAndAids{
    display:flex;
    margin: 0 auto;
    max-width:90%;
    margin-bottom: 40px;

}


.aboutPop{
    padding:5px;
    border-radius:10px;
    background: $white;
    margin-top:50px;
    margin-bottom: 50px;
}

.aboutPop ul{
    text-align: left;
    text-decoration: none;
    list-style: none;
    padding-right: 20px;
}

#aboutLogo{
    margin-top: 60px;
}

.popUpList{
    color: $darkBlue;
    line-height:26px;
    padding: 3px;
}

.abtVideoCon{
    margin: 0 auto;
    margin-top:30px;
    margin-bottom: 30px;
    background-color: $white;
    padding: 5px;
    border-radius: 8px;
    max-width: 100%;
}