 @mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  }
  @mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  }
  @mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
  }
  @mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }

#aboutCon{
    margin: 0 auto;
    max-width:100%;
    margin-top:40px;

    @include for-tablet-portrait-up {
        max-width:80%;
        margin-top:80px;
    }

    @include for-desktop-up{
        margin-top:100px;
        max-width:60%;
    }

}

.aboutIntro{
    margin: 0 auto;
    padding:10px;
    width: 100%;
    
}

#hivAndAids{
    display:flex;
    margin: 0 auto;
    max-width:90%;

    margin-top:40px;

    @include for-tablet-portrait-up {
        margin-top:80px;
    }

    @include for-desktop-up{
        margin-top:100px;
    }
}

.aboutPopUp{
    background:$white;
    padding: 5px;
    border-radius:8px;
    margin-top:40px;

    @include for-tablet-portrait-up {
        margin-top:80px;
    }

    @include for-desktop-up{
        margin-top:100px;
    }
}

.aboutList{
    list-style: none;
}

.aboutPopUp h3{
    padding:10px;
}

.aboutPopUp p{
    padding:10px;
}

#socialCon{
    color: $white;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 40px;
    background: $darkBlue;
    padding: 10px;
}

#imgCon{
    max-width:90%;
    margin: 0 auto;

    margin-top:40px;

    @include for-tablet-portrait-up {
        margin-top:80px;
    }

    @include for-desktop-up{
        margin-top:100px;
    }
}
