@mixin for-tablet-portrait-up {
    @media (min-width: 800px) { @content; }
  }
  @mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  }
  @mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
  }
  @mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }

.hidden { 
    display:none;
}

body{
    display:flex;
    flex-direction: column;
    margin: 0 auto;
    width:100%;
    background-image: url(../images/site_bg.png);
    background-repeat: no-repeat;
    background-position: top, center;

    font-family: $mainFont;
    line-height:22px;
}

h1{
    font-size: 26px;
}

h2{
    font-size: 26px;
}

h3{
    font-size: 20px;
}

h4{
    font-size: 18px;
}

p{
    font-size: 16px;
    line-height:20px;
}

// a{
//     font-size: 18px;
// }

ul{
    line-height:20px;
}

video{
    max-width: 100%;
}

.app{
    display: flex;
    width:100%;
}
  
i:hover {
    cursor: pointer;
}

input{
    background-color: $grey;
    border-radius: 5px;
    text-align: left;
    color: $darkGrey;
    padding: 8px;
}

.animated {
    background-image: url(/css/images/logo.png);
    background-repeat: no-repeat;
    background-position: left top;
    padding-top:95px;
    margin-bottom:60px;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    transition: all .25s ease-out;
 }
 
 ::placeholder{
     color: $grey2;
     opacity: 1;
     font-size: 12px;
 }
 
 .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    transition: all .25s ease-out;
 }

 @-webkit-keyframes fadeIn {
    0% {opacity: 0.3;}
    100% {opacity: 1;}
 }
 
 @keyframes fadeIn {
    0% {opacity: 0.3;}
    100% {opacity: 1;}
 }
 
 .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
 }

 .float-right{
    float: right;
 }
 .float-left{
    float: left;

 }