.hidden { display:none;}

body{
    font-family: $mainFont;
}

h1{
    font-size: 26px;
}

h2{
    font-size: 26px;
}

h3{
    font-size: 20px;
}

h4{
    font-size: 18px;
}

p{
    font-size: 14px;
    line-height:20px;
}


a{
    font-size: 16px;
}