//from home
button{
    width:40%;
    padding: 5px;
    border-radius: 5px;
    color: $white;
    background: linear-gradient(to right, $white 50%, $darkBlue 50%);
    background-color: $darkBlue;
    background-size: 200% 100%;
    margin-bottom: 20px;

    background-position: right bottom;
    transition: all .25s ease-out;
}

button:hover{
    cursor: pointer;
    text-decoration: none;
        color: $darkBlue;
        opacity: 1.0;
        background-position: left bottom;
        box-shadow: inset 0 0 2px 2px $darkBlue;
        transition: all .25s ease-in-out;
}