//from home
button{
    border: none;
}

.forwardBtn{
    width: 40%;
    padding: 8px;
    border-radius: 5px;
    color: $white;
    background: linear-gradient(to left, $darkBlue 50%, $white 50%);
    background-color: $darkBlue;
    background-size: 200% 100%;
    margin-bottom: 20px;
    margin: 0 auto;
    font-size: 16px;

    background-position: right bottom;
    transition: all .25s ease-out;
}

.forwardBtn:hover{
    cursor: pointer;
    text-decoration: none;
        color: $darkBlue;
        opacity: 1.0;
        background-position: left bottom;
        box-shadow: inset 0 0 2px 2px $darkBlue;
        transition: all .25s ease-in-out;
}

.backwardBtn{
    width:40%;
    padding: 8px;
    border-radius: 5px;
    color: $white;
    background: linear-gradient(to left, $darkBlue 50%, $white 50%);
    background-color: $darkBlue;
    background-size: 200% 100%;
    margin-bottom: 20px;
    margin: 0 auto;
    font-size: 16px;

    background-position: right bottom;
    transition: all .25s ease-out;
}

.backwardBtn:hover{
    cursor: pointer;
    text-decoration: none;
        color: $darkBlue;
        opacity: 1.0;
        background-position: left bottom;
        box-shadow: inset 0 0 2px 2px $darkBlue;
        transition: all .25s ease-in-out;
}