@mixin for-tablet-portrait-up {
    @media (min-width: 800px) { @content; }
  }
  @mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  }
  @mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
  }
  @mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }


.dashboard {
    background-color: $white;
    padding: 40px;
    max-width:100%;

    h2 {
        color:$pink;
        margin-bottom:50px;
    }
    h3 {
        color:$lightBlue;
    }
}

.sub-dashboard {
    background-color: $white;
    padding: 20px;
    max-width:100%;

    

    h2 {
        color: $pink;
        font-size: 30px;
        margin-bottom:50px;
    }
    h3 {
        color: $lightBlue;
        font-size: 26px;
    }
    a {
        text-decoration: none;
        color: $lightBlue;
        font-size: 22px;
    }
}

#mainNav {
    display: flex;
    flex-direction: column;
    a {
        text-decoration: none;
        color: $lightBlue;
        font-size: 20px;
        padding: 5px;
    }
}

.dashboard-form {
    display: flex;
    flex-direction: column;

    padding: 20px;
    max-width:100%;

    @include for-tablet-landscape-up{
        max-width: 60%;
        margin: 0 auto;
    }
    input {
        width: 60%;
        margin: 0 auto;
        font-size: 22px;
        text-align: center;
        margin-bottom: 20px;
    }
    textarea {
        width: 60%;
        margin: 0 auto;
        font-size: 22px;
        margin-bottom: 20px;
    }
    button {
        margin: 0 auto;
        max-width: 60%;
        padding: 5px;
        font-size: 22px;
        color: $lightBlue;
        margin-bottom: 30px;

    }
    label {
        font-size: 24px;
        color: $lightBlue;
        margin-bottom: 10px;
    }
}

.table-form {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    table {
        border: 2px solid $darkBlue;
        tr, td, tr th {
            border: 2px solid $darkBlue;
            color: $darkBlue;
            font-size: 20px;
        }
        td, tr th {
            padding: 3px;
        }
    }
}