.dashboard {
    background-color: $white;
    padding: 20px;
    h2 {
        color:$pink;
        margin-bottom:50px;
    }
    h3 {
        color:$lightBlue;
    }
}

.sub-dashboard {
    background-color: $white;
    text-align: center;
    padding: 20px;
    h2 {
        color: $pink;
        font-size: 30px;
        margin-bottom:50px;
    }
    h3 {
        color: $lightBlue;
        font-size: 26px;
    }
    a {
        text-decoration: none;
        color: $lightBlue;
        font-size: 22px;
    }
}
#mainNav {
    display: flex;
    flex-direction: column;
    a {
        text-decoration: none;
        color: $lightBlue;
        font-size: 20px;
    }
}

.dashboard-form {
    display: flex;
    flex-direction: column;
    input {
        width: 60%;
        margin: 0 auto;
        font-size: 22px;
        text-align: center;
        margin-bottom: 20px;
    }
    textarea {
        width: 60%;
        margin: 0 auto;
        font-size: 22px;
        margin-bottom: 20px;
    }
    button {
        margin: 0 auto;
        max-width: 60%;
        padding: 5px;
        font-size: 22px;
        color: $lightBlue;
        margin-bottom: 30px;

    }
    label {
        font-size: 24px;
        color: $lightBlue;
        margin-bottom: 10px;
    }
}

.table-form {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 25px;
    table {
        width: 100%;
        border: 2px solid white;
        tr, td, tr th {
            border: 2px solid white;
            color: white;
        }
        td, tr th {
            padding: 10px;
        }
    }
}