@mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  }
  @mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  }
  @mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
  }
  @mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }
// gets rid of focus outline on buttons / input / textarea
input:focus, button:focus, textarea:focus {outline:none;}
// main dashboard styles

.table-form {
    width: 100%;
    margin: 0 auto;
    table {
        width: 100%;
        border: 2px solid $darkBlue;
        td, th {
            border: 2px solid $darkBlue;
            font-size: 20px;
            padding: 10px;
            text-align: center;
        }
        td {
            color: $darkGrey;
        }
        th {
            color: $pink;
        }
    }
}


#homeBtn{
    margin-top:20px;
}

#homeBtn2{
    margin-top:20px;
}

#homeBtn3{
    margin-top:20px;
}

#homeBtn4{
    margin-top:20px;
}

.dash-head{
    color: $pink;
}

#signinBtn{
    margin-bottom:20px;
}

.user-form{
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: 0 auto;
    padding: 10px;
}

.current-user{
    display: flex;
    flex-direction: column;
}

.current-user form{
    display: flex;
    flex-direction: column;
    button{
        margin-top: 15px;
    }
}

#editBtn{
    margin-top: 15px;
}

#backBtn{
    margin-top: 15px;
}

#backBtn2{
    margin-top: 15px;
}

.passCon{
    display:flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

#passreset{
    margin-top: 15px;
}

.table-form{
    margin-top: 20px;
}