footer{
    display:flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}

#footerNav{
    display: flex;
    text-decoration: none;
    height:40px;
    background: $lightBlue;
    justify-content: center;
    
}

.footerLink{
    text-decoration: none;
    opacity: 0.8;
    padding: 10px;
    color: $white;
    justify-content: space-evenly;
    font-size:18px;
}

.footerLink:hover{
    opacity:1.0;
}

#footerLogo{
    max-width:40%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 15px;
}

#copyright{
    color: $grey;
    margin-top:10px;
    margin-bottom:15px;
}