@mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  }
  @mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  }
  @mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
  }
  @mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }

footer{
    display:flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    margin-top:50px;
}

#footerNav{
    display: flex;
    text-decoration: none;
    height:40px;
    background: $darkBlue;
    justify-content: center;
    padding-top:5px;
    
}

.footerLink{
    text-decoration: none;
    opacity: 0.8;
    padding: 10px;
    color: $white;
    justify-content: space-between;
    font-size:14px;

    @include for-tablet-portrait-up{
        font-size:18px;
    }
}

.footerLink:hover{
    opacity:1.0;
}

#copyright{
    background: $darkBlue;
    color:white;
    padding-bottom:10px;
    font-size: 14px;
}

#socialCon{
    color: white;
    margin-top: 30px;
    background: $darkBlue;
}

#socialIconCon{
    
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:50%;

    @include for-tablet-portrait-up{
        width:40%;
    }

    @include for-desktop-up{
        width:20%;
    }
}

.fab{
    opacity:0.8;
    margin-top:10px;
}
.fab:hover{
    opacity:1.0;
}