@mixin for-tablet-portrait-up {
    @media (min-width: 800px) { @content; }
  }
  @mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  }
  @mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
  }
  @mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }

footer{
    text-align: center;
    margin: 0 auto;
    max-width: 100%;
    background-color: $white;
}

#footerNav{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    width:80%;

    @include for-tablet-portrait-up{
        width: 50%;
    }

    @include for-big-desktop-up{
        width:30%;
    }
}

.footerLink{
    display: flex;
    text-decoration: none;
    color: $darkBlue;
    margin: 0 auto;
    margin-top:5px;
    margin-bottom: 5px;
    padding:5px;
    border-radius: 8px;

    @include for-tablet-portrait-up {
        margin-top:10px;
    margin-bottom: 10px;
    }
}

.footerLink:hover{
    box-shadow: 0 0 4px 4px $grey;
    transition: all .25s ease-out;
}

#copyright{
    color: $darkBlue;
    font-size: 14px;
    padding: 15px;
}

#socialCon{
    color: $darkBlue;
    background: $white;
    display:flex;
    flex-direction: column;
    margin: 0 auto;
}

.followUs{
    color: $pink;
    font-size: 20px;
    padding-left:20px;
    padding-right:20px;
    line-height: 26px;
}

#socialIconCon{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width:50%;
    margin-bottom: 10px;
    @include for-tablet-portrait-up{
        width:40%;
    }
    @include for-desktop-up{
        width:20%;
    }
}

.fab{
    opacity:0.8;
    padding: 3px;
}
.fab:hover{
    opacity:1.0;
    box-shadow: 0 0 4px 4px $grey;
    border-radius: 3px;
    transition: all .25s ease-out;
}
