@mixin for-tablet-small {
  @media (min-width: 700px) { @content; }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 800px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

header {
  display:flex;
  width: 100%;
  background-color: white;
  opacity: 0.8;
}

.headerLogo {
    width:33%;
    padding: 15px;
    opacity: 1.0;

    @include for-tablet-portrait-up{
      width:20%;
  }

  @include for-desktop-up{
    padding:25px;
    margin-left:40px;
  }
}

#burger{
  color: $red;
  position: absolute;
  right: 0;
  top:0;
  padding-right:20px;
  padding-top:12px;
  @include for-tablet-small{
    padding:20px;
  }
}
