
header {
    background: $white;
    max-width:100%;
    padding:20px;
}

#headerCon{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#headerLogo {
    width:60%;
}