@mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  }
  @mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  }
  @mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
  }
  @mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }

#homeCon{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    max-width:95%;

    margin-top:40px;

    @include for-tablet-portrait-up {
        margin-top:80px;
    }

    @include for-desktop-up{
        margin-top:100px;
        max-width:60%;
    }

}

#heroCon{
    display: flex;
    flex-direction: column;
}

#heroImage{
    justify-content: center;
    margin: 0 auto;

}

#chevronDown{
    color: $white;

    @include for-desktop-up{
        margin-bottom:80px;
    }
}

// MAKE THESE SECTIONS ALTERNATE

#homeBottom{
    display:flex;
    flex-direction:column;
    justify-content: center;
    margin: 0 auto;
}

.popUp{
    padding:5px;
    border-radius:10px;
    background: $white;
    width:300px;

    margin-top:40px;

    @include for-tablet-portrait-up {
        margin-top:80px;
    }

    @include for-desktop-up{
        margin-top:100px;
    }
}

.popUpMap {
    margin: 0 auto;
    margin-bottom:30px;
    margin-top: 30px;
    padding: 5px;
    background: $white;
    width: 80%;
}

//STYLING FOR POP UP TEXT

//styling for popup box border
.blueBorder{
    border: 2px solid $lightBlue;
    border-radius:8px;
    padding:10px;
}

.pink{
    color: $pink;
    font-size: 24px;
}

.smBlueText{
    color: $lightBlue;
}

.button{
    max-width:180px;
    height:40px;
    margin: 0 auto;
    border-radius: 5px;
    background: $white;
    padding:3px;
    
}

.buttonTxt{
    border: 2px solid $lightBlue;
    border-radius: 5px;
    font-size: 18px;
    color: $pink;
    padding-top:4px;
    padding-bottom:4px;
    padding-left:6px;
    padding-right:6px;
}

//ICON STYLING
.iconCon{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.icons{
    max-width:25%;
}

.iconMap {
    justify-content: center;
    height: 80px;
    
}




