@mixin for-tablet-portrait-up {
    @media (min-width: 800px) { @content; }
  }
  @mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  }
  @mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
  }
  @mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }

#homeCon{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    max-width:95%;
    margin: 0 auto;

    @include for-tablet-portrait-up {

        max-width: 80%;
    }
}

#heroCon{
    display: flex;
    flex-direction: column;
}

#heroImage{
    margin-top: -70px;

    @include for-desktop-up{
        max-width: 40%;
        margin: 0 auto;
        margin-bottom: 60px;
    }
}


#homeBottom{
    display:flex;
    flex-direction:column;
    justify-content: center;
    margin: 0 auto;

    @include for-desktop-up{
        max-width:50%;
    }
}

.videoCon{
    margin: 0 auto;
    margin-top:50px;
    margin-bottom: 50px;
    background-color: $white;
    padding: 5px;
    border-radius: 8px;
    max-width: 100%;

}

.promoVideo{
    border-radius: 8px 8px 0px 0px;
}

.float-right{
    
    @include for-desktop-up{
   float: right;}
}
.float-left{
    
    @include for-desktop-up{
   float: left;
}
}