#signin {
    background-color: $mainRed;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    h2 {
        color: white;
        font-size: 30px;
    }
    h3 {
        color: white;
    }
}
.avatar {
    text-align: center;
    i {
        background-color: white;
        width: 100px;
        height: 100px;
        border-radius: 100px;
        overflow: hidden;
        border: 3px solid $mainRed;
    }
}
#signinform {
    display: flex;
    flex-direction: column;
    input {
        width: 60%;
        margin: 0 auto;
        font-size: 22px;
        text-align: center;
        margin-bottom: 20px;
    }
    button {
        margin: 0 auto;
        width: 100px;
        padding: 5px;
        font-size: 22px;
        color: $mainRed;
        margin-bottom: 20px;
    }
}

#gohome {
    color: white;
    text-decoration: none;
    font-size: 24px;
}