@mixin for-tablet-portrait-up {
    @media (min-width: 800px) { @content; }
  }
  @mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  }
  @mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
  }
  @mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }

#signin {
    background-color: $grey;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    
    @include for-tablet-portrait-up {
        max-width: 60%;
    }

    h2 {
        color: $pink;
        font-size: 32px;
        margin-bottom:50px;
    }
    h3 {
        color: $white;
        background: $red;
        width:250px;
        text-align: center;
        margin: 0 auto;
        margin-bottom:15px;
    }
}

.avatar {
    text-align: center;
    i {
        background-color: $white;
        width: 100px;
        height: 100px;
        border-radius: 100px;
        overflow: hidden;
        border: 3px solid $red;
    }
}

#signinform {
    display: flex;
    flex-direction: column;
    input {
        width: 60%;
        margin: 0 auto;
        font-size: 22px;
        text-align: center;
        margin-bottom: 20px;
    }
}

button{
    max-width:220px;
    height:40px;
    margin: 0 auto;
    border-radius: 5px;
    background: $white;
    padding:3px;
    margin-bottom:20px;
}

.buttonTxt{
    border: 2px solid $lightBlue;
    border-radius: 5px;
    font-size: 18px;
    color: $pink;
    padding-top:4px;
    padding-bottom:4px;
    padding-left:6px;
    padding-right:6px;
}

#gohome {
    color: $lightBlue;
    text-decoration: none;
    font-size: 24px;
}

