#menu-overlay {
    width:100%;
}

.navLink {
    text-decoration: none;
    font-size:18px;
    color: $white;
    background: $lightBlue;
    padding: 10px;
    margin-right:3px;
    width:100%;
    text-align: center;
}

.active {
    transform: rotate(90deg);
    transition: .5s ease;
}

#menu-overlay {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 40px;
    background: $white;
}

