#menu-overlay {
    width:100%;
}

.navLink {
    text-decoration: none;
    font-size: 20px;
    color: $white;
    background: $darkBlue;
    width:100%;
    text-align: center;
    padding:10px;
}

.active {
    transform: rotate(90deg);
    transition: .5s ease;
}

#menu-overlay {
    display: flex;
    flex-direction: row;
    background: $white;
}

