@mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  }
  @mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  }
  @mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
  }
  @mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }


#menu-overlay {
    width:100%;
}

.navLink {
    text-decoration: none;
    font-size: 20px;
    color: $white;
    background: $darkBlue;
    width:100%;
    text-align: center;
    padding:10px;

    @include for-tablet-portrait-up {
        font-size: 22px;
    }

}

.active {
    transform: rotate(90deg);
    transition: .5s ease;
}

#menu-overlay {
    display: flex;
    flex-direction: row;
    background: $white;
}

