//HOME PAGE POP UP
//styling for popup box border
.blueBorder{
    border: 2px solid $darkBlue;
    border-radius: 8px;
}

.icons{
    margin-top:20px;
    max-width:30%;

    @include for-tablet-portrait-up {
        max-width: 20%;
    }
}

.mapicons{
    max-width: 20%;
    padding-top: 20px;
}

.iconMap{
    margin: 0 auto;
}

.iconMap img{
    width:30%;
    margin: 0 auto;
}

.popUp{
    padding:5px;
    border-radius:10px;
    background: $white;
    margin: 0 auto;
    margin-top:50px;
    margin-bottom: 50px;
    max-width: 100%;

    @include for-desktop-up{
        max-width: 60%;
    }
}

.popUpTitle{
    color: $pink;
    font-size:28px;
    line-height: 32px;
    margin: 0 auto;
    margin-top: 30px;

    @include for-tablet-portrait-up {
        font-size:32px;
    }

    @include for-desktop-up{
        font-size: 40px;
    }
}

.popUpSmall{
    text-decoration: none;
    color: $lightBlue;
    line-height: 22px;
    padding: 20px;

    @include for-tablet-portrait-up {
        font-size:20px;
        line-height: 24px;
    }

    @include for-desktop-up{
        font-size: 22px;
        line-height: 26px;
    }
}

//ABOUT POP UPS
.aboutPopUp{
    background:$white;
    padding: 5px;
    border-radius:8px;
    margin-top:40px;

    @include for-tablet-portrait-up {
        margin-top:80px;
    }

    @include for-desktop-up{
        margin-top:100px;
    }
}


.flexboxCon{
    display: flex;
}

.responsive{
    max-width: 100%;
    display: block;
}
