//HOME PAGE POP UP
//styling for popup box border
.blueBorder{
    border: 2px solid $lightBlue;
    border-radius: 8px;
}

.icons{
    max-width:20%;

    @include for-tablet-portrait-up {
        max-width: 30%;
    }
}

.iconMap{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
    padding-top:15px;
}

.iconMap img{
    width:15%;
    margin: 0 auto;

    @include for-tablet-portrait-up {
        width: 10%;
    }
}

.popUp{
    padding:5px;
    border-radius:10px;
    background: $white;
    margin: 0 auto;
    margin-top:40px;

    @include for-tablet-portrait-up {
        margin-top:80px;
    }

    @include for-desktop-up{
        margin-top:100px;
    }
}

.popUpTitle{
    color: $pink;
    font-size:18px;
    margin: 0 auto;
    margin-top: 10px;

    @include for-tablet-portrait-up {
        font-size:20px;
    }

    @include for-desktop-up{
        font-size:26px;
    }
}

.popUpSmall{
    text-decoration: none;
    color: $lightBlue;
    padding: 12px;

    @include for-tablet-portrait-up {
        font-size:16px;
        padding: 18px;
    }

    @include for-desktop-up{
        font-size:18px;
        padding: 20px;
    }
}

//ABOUT POP UPS
.aboutPopUp{
    background:$white;
    padding: 5px;
    border-radius:8px;
    margin-top:40px;

    @include for-tablet-portrait-up {
        margin-top:80px;
    }

    @include for-desktop-up{
        margin-top:100px;
    }
}
