@mixin for-tablet-portrait-up {
    @media (min-width: 800px) { @content; }
  }
  @mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  }
  @mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
  }
  @mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }

.popUpMap {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 2px;
    background-color: $white;
    width: 100%;
    border-radius: 8px;
}


.inputLabel{
    color: $darkBlue;

    @include for-desktop-up{
        font-size: 22px;
        margin-top:30px;
        margin-right: 15px;
    }
}

.pinkTitle{
    margin: 0 auto;
    font-size:30px;
    color: $pink;
}

.widgetCon{
    display: flex;
    flex-direction:column;
    margin: 0 auto;
    padding: 10px;
    max-width: 100%;
}

.postal-msg {
    font-size: 20px;
    color: $red;
}

#map {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 350px;
    //border: 2px solid $darkBlue;
}

.mapTitle{
    color: $pink;
    font-size:22px;
}