.popUpMap {
    margin: 0 auto;
    padding:5px;
    border-radius:10px;
    background: $white;
    width: 80%;
    
    margin-top:40px;

    @include for-tablet-portrait-up {
        margin-top:80px;
    }

    @include for-desktop-up{
        margin-top:100px;
    }
}
#map {
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    height: 350px;
    border: 2px solid $lightBlue;
    #info-wrp {
        position: absolute;
        bottom: 0;
        text-align: left;
        #infowindow {
            background-color: rgba(0,0,0,0.6);
            padding: 5px;
            h2, h3, h4, a {
                text-decoration: none;
                margin: 0;
                font-weight: normal;
                color: white;
            }
            h2 {
                font-size:20px;
            }
            h3, h4, a {
                font-size: 15px;
            }
        }
    }
}